*{
    margin: 0;
}

.header{
    background: linear-gradient(180deg,  #85e8f5, #008498);
    padding: 1rem;
    margin-bottom: 4rem;
}

.content{
    display: inline-flex;
    justify-content: center;
    padding: 0.5rem; 
    align-items: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

   

/*main*/

h1{
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro{
    justify-content: center;
    padding: 0;
    margin: 5rem; 
    align-items: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

img {
    border-radius: 20%;
    width: 150px;
    height: 150px;
    margin: 1.5rem;
 }

.shadow{
    -webkit-filter: drop-shadow(8px 8px 5px rgb(0, 0, 0));
}


h2{
    margin-left: 1rem;
    margin-top: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.columns{
    margin: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.7em;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
        -webkit-column-rule: 1px solid red; /* Chrome, Safari, Opera */
        -moz-column-rule: 1px solid red; /* Firefox */
        column-rule: 1px solid red;
}